body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    font-size: 4rem;
    color: black;
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7.5rem;
    min-width: 150px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: aqua;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.choices button:hover{
    background-color: aquamarine;
}
#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}
#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
}
.scoreDisplay{
    font-size: 2rem;
}
.greenText, #playerScoreDisplay{
    color: chartreuse;
}
.redText, #computerScoreDisplay{
    color: crimson;
}